.container__burger {
    position: relative;

    @media screen and (max-width:767.98px) {
        width: 320px;
        background: #85A279;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        background: #97AF8D;
    }
}

.modal__burger {
    @media screen and (max-width:767.98px) {
        padding-bottom: 64px;
    }
    @media screen and (min-width: 768px) {
        padding-bottom: 528px;
    }
}

.logo {
    @media screen and (max-width:767.98px) {
        margin-top: 12px;
        margin-left: 32px;
        margin-bottom: 51px;
    }
    @media screen and (min-width: 768px) {
        width: 48px;
        height: 44px;
        margin-top: 20px;
        margin-left: 32px;
        margin-bottom: 76px;
    }
}

.btn-burger {
    @media screen and (max-width:767.98px) {
        top: 16px;
        right: 20px;
    }
    @media screen and (min-width: 768px) {
        top: 32px;
        right: 32px;
    }
}

.close__btn-x-burger {
    fill: $whiteTextColor;
}

.nav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: $whiteTextColor;

    @media screen and (max-width:767.98px) {
        font-size: 32px;
        line-height: 39px;
    }
    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 59px;
    }
}

.nav__link {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 110px;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}

.nav__text {
    text-align: center;
    color: $whiteTextColor;

    &:focus,
    &:hover {
        color: $blackTextColor;
        outline: transparent;
    }
}

.btn__buy {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;

    width: 152px;
    padding: 12px 36px;
    margin: auto;

    background: $accentColor;
    border-radius: 10px;
    border: transparent;

    &:hover {
        background: $btnHoverColor;
    }

    &:focus {
        background: $btnHoverColor;
        color: #ffffff;
        outline: transparent;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.btn__buy-right {
    margin-left: 4px;
    color: #000000;
}