@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
  background: url(../images/background/bg@1x.jpg);
  background-size: cover;
  background-position: center;

  @include screenType(retina) {
    background: url(../images/background/bg@2x.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  
  }

  @include screenType(tablet) {
    background: url(../images/background/bg_md@1x.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    @include screenType(retina) {
      background: url(../images/background/bg_md@2x.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }
    @include screenType(desktop) {
      background: url(../images/background/bg_lg@1x.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      @include screenType(retina) {
        background: url(../images/background/bg_lg@2x.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
      }
    }
  }

  // background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

// Стилі для бекдропа
.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 45, 0, 0.3);
  z-index: 999;
  transition: 0.3s all;
}

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  z-index: 1030;

  /*  Установаем ширину окна  */
  width: 280px;
  height: auto;
  margin-top: 270px;

  @media screen and(min-width: 768px) and (max-width: 1199.98px) {
    width: 568px;
    margin-top: 100px;
  }

  @media screen and(min-width: 1200px) {
    width: 568px;
    margin-top: 25px;
  }

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

// /* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
