//  contacts modal

.contacts__modal {

  border: 2px solid $accentColor;
  transition: 600ms ease;

  // mob
  @media screen and (max-width: 767px) {
    width: 280px;
    padding: 28px;
  }

  // tab/desk
  @media screen and (min-width: 767px) {
    width: 568px;
    padding: 32px 60px;
  }
}

// ::::::::::::
// modal title
// ::::::::::::

.contacts__modal-title {
  font-family: 'Seymour One', sans-serif;
  color: $blackTextColor;

  // media mob
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;

    @include font (400, 16px, 24px, normal);
  }

  // media tab/desk
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    @include font (400, 20px, 28px, normal);
  }
}

// :::::::::::::::::
// slider settings
// :::::::::::::::::

.contacts__swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;

  // media mob
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;

    width: 224px;
    height: 199px;
  }

  // media tab/desk
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    width: 448px;
    height: 280px;
  }
}

// ::::::::::::
// map
// ::::::::::::

.contacts__iframe {

  // media mob
  @media screen and (max-width: 767px) {
    width: 224px;
    height: 199px;
  }

  // media desk
  @media screen and (min-width: 768px) {
    width: 448px;
    height: 260px;
  }
}

// ::::::::::::::::
// sliders btn
// ::::::::::::::::

.slider-btn-box {
  position: absolute;
  top: 12%;

  display: flex;
  align-items: center;

  // media mob
  @media screen and (max-width: 767px) {
    right: -5px;
    gap: 3px;
  }

  // media tab/desktop
  @media screen and (min-width: 768px) {
    right: 5%;
    gap: 15px;
  }
}

// ::::::::::::
// btn prev
// ::::::::::::

.swiper-button-prev {
  position: relative;
  transform: translateX(-20px);

  background-color: rgba(34, 31, 32, 0.346);
  backdrop-filter: blur(5px);
  border-radius: 100px;

    cursor: url(../images/cursor/pointer.png), pointer;

  // btn prev after
  &::after {
    display: none;
  }

  // btn prev focus
  &:hover .contacts__modal-icon {
    fill: rgba(250, 250, 250, 0.915);
  }

  // media mob
  @media screen and (max-width: 767px) {
    width: 40px;
    height: 40px;
  }

  // media tab/desk
  @media screen and (min-width: 768px) {
    width: 50px;
    height: 50px;
  }
}

// ::::::::::::
// btn next
// ::::::::::::

.swiper-button-next {
  position: relative;

  background-color: rgba(34, 31, 32, 0.346);
  backdrop-filter: blur(3px);
  border-radius: 100%;

    cursor: url(../images/cursor/pointer.png), pointer;

  // btn next after
  &::after {
    display: none;
  }

  // btn next hover
  &:hover .contacts__modal-icon {
    fill: rgba(250, 250, 250, 0.915);
  }

  // media mob
  @media screen and (max-width: 767px) {
    width: 40px;
    height: 40px;
  }

  // media tab/desk {
  @media screen and (min-width: 768px) {
    width: 50px;
    height: 50px;
  }
}

// ::::::::::::::::::::::
// contacts slider icons
// ::::::::::::::::::::::

.contacts__slider-icon {
  filter: drop-shadow(0px 0px 3px rgb(143, 35, 6));
  fill: rgba(250, 250, 250, 0.796);
}

// ::::::::::::
// undertext 
// ::::::::::::

.undertext {
  position: absolute;
  left: 0;
  bottom: 0;

  display: inline-block;
  width: 100%;
  padding: 3px 20px;

  
  @include font (500, 16px, 29px, 0.04em);
  text-align: center;
  color: $blackTextColor;

  background-color: rgba(34, 31, 34, 0.346);
  backdrop-filter: blur(8px);
  
}

// ::::::::::::
// btn 
// ::::::::::::

.contacts__btn-modal {
  display: inline-block;

  padding: 12px 34px;

  font-family: 'Montserrat', sans-serif;
  color: $blackTextColor;

  background-color: $accentColor;
  border-radius: 10px;

  cursor: url(../images/cursor/pointer.png), pointer;

  transition: 300ms ease-in;

  // hover/focus
  &:hover,
  &:focus {
    background-color: #eac027;

    transform: scale(1.050);
  }

  // media mob
  @media screen and (max-width: 767px) {
    @include font (600, 12px, 15px, normal)
  }

  // media desk
  @media screen and (min-width: 768px) {
    @include font (600, 14px, 17px, normal);
  }
}