.swiper {
  max-width: 280px;
  margin-bottom: 80px;
}

.swiper-slide {
  text-align: center;
}

.swiper-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.swiper__text {
  margin-bottom: 32px;
  border-radius: 10px;
  padding: 35px 39px;

  font-family: 'Montserrat';
  @include font(400, 12px, 31px, 0.04em);
  text-align: center;

  background: $bgColor;
  color: $whiteTextColor;
}

.swiper__subtitle {
  margin-bottom: 12px;

  font-family: 'Montserrat';
  @include font(500, 20px, 37px, 0.04em);
  text-align: center;

  color: $blackTextColor;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;

  background-color: #d9d9d9;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  border-radius: 50px;

  background-color: $bgColor;
}
