.eyes {
  display: flex;

  position: relative;

  width: 200px;
  z-index: 2000;
}

.box-f {
  position: relative;
  overflow: hidden;
  width: 27px;
  height: 41px;
  transform: translateX(-38px) translateY(72px);
  border-radius: 50%;
  rotate: -20deg;
  border: 1px solid black;
  background-color: #ffffff;
}

.f-eye {
  position: absolute;
  top: 10%;
  left: 15%;

  border-radius: 100%;

  width: 15px;
  height: 34px;

}

.box-r {
  position: relative;
  overflow: hidden;

  transform: translateY(-43px) translateX(32px);
  rotate: 53deg;
  background-color: #ffffff;
  width: 30px;
  height: 47px;
  border-radius: 50%;
  rotate: -20deg;
  border: 1px solid black;
}

.r-eye {
  position: absolute;
  top: 10%;
  left: 15%;

  border-radius: 100%;

  width: 15px;
  height: 34px;

}

.box-u {
  position: relative;
  overflow: hidden;
  transform: translateX(24px) translateY(133px);
  rotate: 55deg;
  background-color: #ffffff;
  width: 32px;
  height: 50px;
  border-radius: 50%;
  rotate: -20deg;
  border: 1px solid black;
}

.u-eye {
  position: absolute;
  top: 10%;
  left: 15%;

  border-radius: 100%;

  width: 15px;
  height: 34px;

}

.box-p {
  position: relative;
  overflow: hidden;

  background-color: #ffffff;
  transform: translateX(38px) translateY(163px);
  rotate: 57deg;
  width: 31px;
  height: 50px;
  border-radius: 50%;
  rotate: -20deg;
  border: 1px solid black;
}

.p-eye {
  position: absolute;
  top: 10%;
  left: 15%;


  border-radius: 100%;

  width: 15px;
  height: 34px;

}



.box-x {
  position: relative;
  overflow: hidden;
  width: 27px;
  transform: translateX(-21px) translateY(58px);
  background-color: #ffffff;
  height: 41px;
  border-radius: 50%;
  rotate: -20deg;
  border: 1px solid black;
}

.box-z {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  transform: translateX(109px) translateY(-18px);
  rotate: 53deg;
  width: 30px;
  height: 48px;
  border-radius: 50%;
  rotate: -20deg;
  border: 1px solid black;
}

.a-eye {
  position: absolute;
  top: 10%;
  left: 15%;

  border-radius: 100%;

  width: 15px;
  height: 34px;
}

.s-eye {
  position: absolute;
  top: 10%;
  left: 15%;

  border-radius: 100%;

  width: 15px;
  height: 34px;
}

.pupil {
  position: relative;
  background-color: black;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);
  top: 0;
}

.background-eyes {
  display: none;
  z-index: 1000;
  position: absolute;
  margin-top: 200px;
  margin-left: 800px;

  pointer-events: none;

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}