.gallery__container {
  background-image: linear-gradient(
    to bottom,
    $bgColor 25%,
    transparent 25%,
    transparent
  );

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      $bgColor 44%,
      transparent 44%,
      transparent
    );
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      to bottom,
      $bgColor 23%,
      transparent 23%,
      transparent
    );
  }
}

.gallery__wrapper {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 280px;
  height: 130px;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
    max-width: 704px;
    height: 327px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 140px;
    max-width: 1013px;
    height: 422px;
  }
}

.gallery__image {
  border-radius: 8px;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: imagesFading 16s ease-in-out infinite;
  -moz-animation: imagesFading 16s ease-in-out infinite;
  -o-animation: imagesFading 16s ease-in-out infinite;
  animation: imagesFading 16s ease-in-out infinite;

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    border-radius: 25px;
  }
}

.gallery__image--first {
  background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-1@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery__image--first {
    background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-1@2x.jpg);
  }
}

.gallery__image--second {
  background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-2@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery__image--second {
    background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-2@2x.jpg);
  }
}

.gallery__image--third {
  background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-3@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery__image--third {
    background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-3@2x.jpg);
  }
}

@keyframes imagesFading {
  0%,
  100% {
    background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-1@1x.jpg);
  }

  25% {
    background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-2@1x.jpg);
  }

  50% {
    background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-3@1x.jpg);
  }

  75% {
    background-image: url(../images/img-gallery/mobile/gallery-bgimg-mobile-1@1x.jpg);
  }
}

// TABLET

@media screen and (min-width: 768px) {
  .gallery__image--first {
    background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-1@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .gallery__image--first {
      background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-1@2x.jpg);
    }
  }

  .gallery__image--second {
    background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-2@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .gallery__image--second {
      background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-2@2x.jpg);
    }
  }

  .gallery__image--third {
    background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-3@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .gallery__image--third {
      background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-3@2x.jpg);
    }
  }

  @keyframes imagesFading {
    0%,
    100% {
      background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-1@1x.jpg),
        url(../images/img-gallery/tablet/gallery-bgimg-tablet-1@2x.jpg);
    }

    25% {
      background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-2@1x.jpg);
    }

    50% {
      background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-3@1x.jpg);
    }

    75% {
      background-image: url(../images/img-gallery/tablet/gallery-bgimg-tablet-1@1x.jpg),
        url(../images/img-gallery/tablet/gallery-bgimg-tablet-1@2x.jpg);
    }
  }
}

// DESTOP

@media screen and (min-width: 1200px) {
  .gallery__image--first {
    background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-1@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .gallery__image--first {
      background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-1@2x.jpg);
    }
  }

  .gallery__image--second {
    background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-2@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .gallery__image--second {
      background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-2@2x.jpg);
    }
  }

  .gallery__image--third {
    background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-3@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .gallery__image--third {
      background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-3@2x.jpg);
    }
  }

  @keyframes imagesFading {
    0%,
    100% {
      background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-1@1x.jpg);
    }

    25% {
      background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-2@1x.jpg);
    }

    50% {
      background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-3@1x.jpg);
    }

    75% {
      background-image: url(../images/img-gallery/desctop/gallery-bgimg-desctop-1@1x.jpg);
    }
  }
}
