.gallery {
  background-image: linear-gradient(
    to bottom,
    $bgColor 25%,
    transparent 25%,
    transparent
  );

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      $bgColor 44%,
      transparent 44%,
      transparent
    );
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      to bottom,
      $bgColor 23%,
      transparent 23%,
      transparent
    );
  }

  &__wrapper {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 280px;
    height: 130px;
    position: relative;

    @media screen and (min-width: 768px) {
      margin-bottom: 100px;
      max-width: 704px;
      height: 327px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 140px;
      max-width: 1013px;
      height: 422px;
    }
  }

  &__image {
    border-radius: 8px;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 768px) {
      border-radius: 18px;
    }

    @media screen and (min-width: 1200px) {
      border-radius: 25px;
    }
  }
}
