.header {
  display: block;
  padding-top: 12px;
  letter-spacing: 0.04em;
  background-color: $bgColor;
  font-family: Montserrat, sans-serif;
  font-size: 14px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
  }
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__nav {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    height: 46px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    height: 65px;
  }
}

.header__nav_list {
  display: none;
  z-index: 10;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

.header__list-link {
  display: flex;
  align-items: center;
  color: $whiteTextColor;
  padding: 15px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  cursor: url(../images/cursor/pointer.png), pointer;

  &:hover,
  &:focus {
    color: $accentColor;
    border: transparent;
  }
}

.header__logo-img {
  width: 40px;
  height: 37px;
  position: relative;

  cursor: url(../images/cursor/pointer.png), pointer;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
    position: relative;
  }
}

.header__burger-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blackTextColor;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__buy-now-btn {
  margin-left: 32px;
  height: 42px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 51px 12px 36px;

  background: $accentColor;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: url(../images/cursor/pointer.png), pointer;
  color: $blackTextColor;
  fill: currentColor;
  @include font(600, 14px, 20px);

  &:hover {
    background: $btnHoverColor;
    fill: currentColor;
  }

  &:focus {
    background: $btnHoverColor;
    color: $whiteTextColor;
    fill: currentColor;
  }

  &:disabled {
    background: $secondaryTextColor;
    fill: currentColor;
  }

  display: none;
  z-index: 10;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 5;
  }
}