.page-header {
  background-color: $bgColor;
  width: 100%;
  z-index: 99;
}


.header-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.logo {
  cursor: pointer;
}

.header-nav {
  display: flex;
}

.pages-nav__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  padding-top: 23px;

  color: $whiteTextColor;
}


// 0px - 767px
@media screen and (max-width: 767px) {
  .pages-nav {
    display: none;
  }

  .contact-list {
    display: none;
  }
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;

  &:focus,
  &:hover {
    fill: $accentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}



.open-mobile-menu-btn__icon {
  width: 32px;
  height: 32px;
}

// 768px - 1200px
@media screen and (min-width: 768px) {
  .header-position {
    align-items: center;
    padding-top: 2px;
    padding-bottom: 10px;
  }

  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;

    &:focus,
    &:hover {
      fill: $accentColor;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-buttons {
    padding-top: 10px;
  }

  .pages-nav {
    display: none;
  }
}

// 1200px - etc.
@media screen and (min-width: 1200px) {
  .header-position {
    padding-top: 2px;
    padding-bottom: 13px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav__logo {
    margin-right: 269px;
  }

  .pages-nav {
    display: flex;
    column-gap: 27px;
  }

  .navigation-link {
    color: $whiteTextColor;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accentColor;
      cursor: pointer;
    }
  }

  .open-mobile-menu-btn {
    display: none;
  }
}

// Container

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    margin-top: auto;
    margin-bottom: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin-top: auto;
    margin-bottom: auto;
  }
}


// Buy Now Button

.button__buy-now {
  background-color: $accentColor;
  border: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: $blackTextColor;
  padding: 12px 34px;
  min-width: 152px;
  border-radius: 10px;

  &:hover {
    background-color: $btnHoverColor;
  }

  &:focus {
    background-color: $btnHoverColor;
    color: $whiteTextColor;
  }
}

@media screen and (max-width: 767px) {
  .button__buy-now {
    display: none;
  }
}

/* 768px + */

@media screen and (min-width: 768px) {
  .button__buy-now {
    background-color: $accentColor;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    color: $blackTextColor;
    padding: 12px 34px;
    padding-right: 28px;
    min-width: 152px;
    height: 42px;
    border-radius: 10px;
    gap: 7.23px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 32px;

    &:hover {
      background-color: $btnHoverColor;
      cursor: pointer;
    }

    &:focus {
      background-color: $btnHoverColor;
      color: $whiteTextColor;

      .buy-now-icon {
        fill: $whiteTextColor;
      }
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .buy-now-icon {
    width: 12px;
    height: 12px;
    margin-left: 6px;
  }
}

/* 1200px +*/

@media screen and (min-width: 1200px) {
  .button__buy-now {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;

    &:hover {
      background-color: $btnHoverColor;
      cursor: pointer;
    }

    &:focus {
      background-color: $btnHoverColor;
      color: $whiteTextColor;

      .buy-now-icon {
        fill: $whiteTextColor;
      }
    }
  }

  .buy-now-icon {
    width: 12px;
    height: 12px;
  }
}