.modal__hero {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 280px;
    min-height: 991px;
    // padding: 28px;
    text-align: center;
  
    background-color: $whiteTextColor;
    border: 2px solid $accentColor;
    border-radius: 10px;
    
    @media screen and (min-width: 768px) {
      padding: 32px 54px;
      width: 568px;
      min-height: 644px;
    }
  }
  .modal__hero--button {
    position: absolute;
    top: 12px;
    right: 12px;
  
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
  
    cursor: url(../images/cursor/pointer.png), pointer;
    background-color: transparent;
    border: 1px solid transparent;
    

    
  }
  .modal__hero--title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (max-width: 767px) {
      margin-bottom: 83px;
    }

     @media screen and (min-width: 768px){
       margin-bottom: 103px;
     }

  }

// =============================================================
// checkbox

.buy__list {
  display: flex;
  gap: 32px;

  // mob
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 82px;
  }
}

.buy__input {
  display: none;
  
}

.buy__input:checked {

  // green
  &+.buy__span-box--green {
    background-color: $bgColor;

    transform: scale(1.02);
  }

  // yellow
  &+.buy__span-box--yellow {
    background-color: $accentColor;

    transform: scale(1.02);
  }

  // red
  &+.buy__span-box--red {
    background-color: $addressTextColor;

    transform: scale(1.02);
  }

}

.buy__span-box {
  position: relative;

  display: inline-block;
  width: 132px;
  height: 135px;

  border-radius: 15px;

  transition: 300ms ease;

  cursor: url(../images/cursor/pointer.png), pointer;

  // green
  &--green {
    border: 2px solid $bgColor;
  }

  // yellow
  &--yellow {
    border: 2px solid $accentColor;
  }

  // red
  &--red {
    border: 2px solid $addressTextColor;
  }
}

.buy__span-img-box {
  position: relative;
  bottom: 59px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 132px;
  height: 132px;

  overflow: hidden;

  border-radius: 100%;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));

  // green
  &--green {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  // yellow
  &--yellow {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  // red
  &--red {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }

}

.buy__img {
  border-radius: 100%;
  overflow: hidden;
  transform: translateY(-7px);
}

.buy__img-span-text {
  display: block;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  text-align: center;

  width: 106px;

  @include font (700, 16px, 20px, 0.04em);
  text-transform: uppercase;
}

// =============================================================


 .form-group {
  align-items: center;
  justify-content: center;
  margin-top: 31px;
  @media screen and (min-width: 768px){
    margin-top: 40px;
  }
 }
 .modal__hero--form {
  justify-content: center;
  align-items: center;
 }
 .form-field {
  position: relative;
  width: 224px;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  transition: 300ms ease;

  // focus
    &:focus-within .form__buynow-icon {
      opacity: 1;
  
      fill: rgba(255, 106, 0, 0.762);
      filter: drop-shadow(1px 2px 9px rgba(255, 106, 0, 0.41));
    }

  &:focus-within:not([data-message], [data-payment]) {
      box-shadow: 0 0 0 4px rgba(255, 106, 0, 0.41);
    }
  
    // if valid
    &:has(.form-input:not(:placeholder-shown):valid) {
      box-shadow: 0 0 0 4px rgba(3, 168, 6, 0.498);
    }
  
    // if invalid
    &:has(.form-input:not(:placeholder-shown):invalid) {
      box-shadow: 0 0 0 4px rgba(227, 43, 26, 0.485);
    }

  @media screen and (min-width: 768px){
    width: 368px;
  }
 }

 .form-field:not(:last-child) {
  display: block;
  flex-basis: 208px;
  position: relative;
  margin-bottom: 12px;
  @media screen and (min-width: 768px){
    margin-bottom: 16px;
  }
}
.form-input {
  display: flex;
  margin-bottom: 0;

  outline: transparent;
  width: 224px;
  height: 32px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  
  background: $formBgColor;
  border: 1px solid $bgColor;
  border-radius: 10px;

  transition: 300ms ease-in-out;

  cursor: url(../images/cursor/default.png), auto;
  
  &:focus {
    border: 1px solid transparent;
  }

   &::placeholder {
      opacity: 0;
    }

    &:focus::placeholder {
      opacity: 1;
    }

  &:focus + .form__buynow-span,
    &:not(:placeholder-shown) + .form__buynow-span {
    transform: translateY(-160%) scale(0.8);
    padding: 0px 10px;
    border-radius: 5px;
    background-color: $whiteTextColor;

    @media screen and (max-width:767px) {
      transform: translateY(-140%);
    }
    }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

}

.form__buynow-span {
  position: absolute;
  top: 50%;
  left: 16px;

  background-color: #f8d24e1a;

  transform: translateY(-50%);
  transform-origin: top left;

  cursor: url(../images/cursor/default.png), auto;

  font-family: inherit;
  @include font (400, 14px, 20px, normal);

  transition: 200ms ease-in;

  @media screen and (max-width: 767px) {
    @include font (400, 10px, 20px, normal);
  }
}

.form__buynow-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  opacity: 0;

  transition: 300ms ease-in-out;

  // if invalid
    .form-input:not(:placeholder-shown):invalid:required ~ & {
    opacity: 1;
    fill: rgba(227, 43, 26, 0.783);
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    transform: scale(1);
    transition: 300ms ease;
  }

   //  if valid
  .form-input:not(:placeholder-shown):valid:required ~ & {
    opacity: 1;
    fill: rgba(3, 168, 6, 0.887);
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    transform: scale(1);
    transition-delay: 150ms;
  }
}

.form-message {
  position: relative;

  display: flex;
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  padding-top: 8px;

  width: 224px;
  height: 65px;
  padding-left: 12px;
  
  background: $formBgColor;
  border: 1px solid $bgColor;
  border-radius: 10px;

  cursor: url(../images/cursor/default.png), auto;

  &::placeholder {
    opacity: 0;
  }

  &:focus::placeholder {
    opacity: 1;
  }

  &:focus + .form__buynow-message,
    &:not(:placeholder-shown) + .form__buynow-message {
    transform: translateY(-150%) scale(0.8);
    padding: 0px 10px;
    border-radius: 5px;
    background-color: $whiteTextColor;

    @media screen and (max-width:767px) {
      transform: translateY(-140%);
    }
    }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.form__buynow-message {
  position: absolute;
  top: 16px;
  left: 11px;

  transition: 200ms ease;
  transform-origin: top left;

  cursor: url(../images/cursor/default.png), auto;
}

.form-btn {
  font-family: 'Montserrat';
  font-style: normal;
  width: 114px;
  height: 42px;
  cursor: url(../images/cursor/pointer.png), pointer;
  
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  background: $accentColor;
  border-radius: 10px;
  border-color: transparent;
  margin-top: 26px;

  
  &:hover {
      background-color: $btnHoverColor;
  }
  &:focus {
    background-color: $btnHoverColor;
    color: $whiteTextColor;
  }

  @media screen and (min-width: 768px){
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  width: 121px;
  }
}
.form__product {
  width: 132px;
  height: 136px;
  padding-top: 0;
}
.form__product--checkbox {
  display: none;
  cursor: pointer;
}

.checkbox-container{
  position: relative;
  display: block;
  margin: auto;
  width: 132px;
  height: 136px;
  border: 2px solid tomato;
  line-height: 1.25;
  padding-bottom: 20px;
  margin-top: 83px;
  

  @media screen and (min-width: 768px){
    display: inline-block;
    margin-top: 63px;
    margin-right: 32px;
    
  }
}

.ice-cream--title {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 50px);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $blackTextColor;
}
.ice-cream__overlay {
  position: relative;
  top: -63;
  left: -2;
  display: block;
  width: 132px;
  height: 132px;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}
.ice-coffe__overlay {
  position: relative;
  top: -63;
  left: -2;
  display: block;
  width: 132px;
  height: 132px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
}
.milkshake__overlay {
  position: relative;
  top: -63;
  left: -2;
  display: block;
  width: 132px;
  height: 132px;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.ice-coffe--title {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 53px);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $blackTextColor;
}
.milkshake--title {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 53px);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $blackTextColor;
}
.ice-cream__overlay--image {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  position: absolute;
  top: -7;
  left: 0;
}
.ice-coffe__overlay--image {
  position: absolute;
  top: -7;
  left: 0;
}
.milkshake__overlay--image {
  position: absolute;
  top: -7;
  left: 0;
}
.ice-cream {
  border: 2px solid #96AF8C;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15px;
}
.ice-coffe {
  background: #EFD478;
  border: 2px solid #EFD478;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
  border-radius: 15px;
}
.milkshake {
  border: 2px solid #D6936D;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  @media screen and (min-width: 768px){
    margin-right: 0;
  }
}