.products__modal {
  border: 2px solid $accentColor;
  // min-height: 968px;
  height: auto;
  position: absolute;
  top: 1500px;

  @media screen and (min-width: 768px) {
    max-width: 568px;
    // min-height: 996px;
    height: auto;
    top: 755px;
    position: absolute;
  }

  @media screen and (min-width: 768px) and (max-height: 996px) {
    // height: 100%;
  }

  @media screen and (min-width: 1200px) {
    top: 1230px;
    position: absolute;
    height: auto;
  }
}

.product__img-modal {
  display: block;
  width: 132px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  top: calc(5px * -1);
  left: 0;

  @media screen and (min-width: 1200px) {}
}

.thumb-modal {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  left: 27%;

  top: 12%;
  content: "";
  position: absolute;
  width: 132px;
  height: 139px;

  background: linear-gradient(0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 100%;

  @media screen and (min-width: 768px) {
    left: 39%;
  }

  @media screen and (min-width: 1200px) {}
}
.thumb-modal--coffee {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  left: 27%;

  top: 12%;
  content: "";
  position: absolute;
  width: 132px;
  height: 139px;
  border-radius: 100%;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

  @media screen and (min-width: 768px) {
    left: 39%;
  }
}
.thumb-modal--shake {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  left: 27%;

  top: 12%;
  content: "";
  position: absolute;
  width: 132px;
  height: 139px;
  border-radius: 100%;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    left: 39%;
  }
}

.modal__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #131313;
  margin-top: 28px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}


.modal__close {
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 12px;
  left: 230px;

  @media screen and (min-width: 768px) {
    left: 519px;
  }
}

.modal__icon {
  width: 20px;
  height: 20px;
}

.nutritior__list {
  position: relative;
  display: flex;
  margin-top: 191px;
  align-items: center;
  justify-content: center;
  gap: 9px;

  @media screen and (min-width: 768px) {
    margin-top: 215px;
    gap: 20px;
  }
}

.nutrition__items {
  display: flex;
  flex-direction: column;
}

.items-number {
  width: 43px;
  height: 43px;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 120%;
  text-align: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  border: 2px solid #9cbe8f;
  justify-content: center;
  margin-left: 5px;
}
.items-number--coffee {
  width: 43px;
  height: 43px;
  background: #EFD478;
  border: 2px solid #EFD478;
  box-shadow: 0px 6px 20px rgba(255, 247, 28, 0.25);
  border-radius: 120%;
  text-align: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  border: 2px solid #EFD478;
  justify-content: center;
  margin-left: 5px;
}
.items-number--shake {
  width: 43px;
  height: 43px;
  background: #D6936D;
  border: 2px solid #D6936D;
  box-shadow: 0px 6px 20px rgba(135, 117, 46, 0.25);
  border-radius: 120%;
  text-align: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  border: 2px solid #D6936D;
  justify-content: center;
  margin-left: 5px;
}
.items-text {
  position: fixed;
  display: flex;
  width: 53px;
  height: 72px;
  text-align: center;
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 7px;
}
.items-text--coffee {
  position: fixed;
  display: flex;
  width: 53px;
  height: 72px;
  text-align: center;
  border: 2px solid #EFD478;
  border-radius: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 7px;
}
.items-text--shake {
  position: fixed;
  display: flex;
  width: 53px;
  height: 72px;
  text-align: center;
  border: 2px solid #D6936D;
  border-radius: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 7px;
}

.modal__text-ingredients {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #131313;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
}

.ingredients__list {
  margin-top: 24px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.ingredients__items {
  display: flex;
  justify-content: space-between;
}

.ingredients-text,
.ingredients-numbers {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  /* identical to box height, or 25px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #131313;
}
.form-shake,
.form-ice,
.form-coffee {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.form-item {
  margin-bottom: 16px;
}

.form-item-comment {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) and (max-height: 996px) {
    margin-bottom: 16px;
  }
}

.modal-form {
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 235px;
  height: 42px;
  padding: 11px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    width: 368px;
  }
}

.btn-sumbit-modal {
  display: flex;
  justify-content: center;

  width: 132px;
  height: 42px;

  background: #f8d24e;
  border-radius: 10px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  cursor: url(../images/cursor/pointer.png), pointer;

  color: #131313;
  border-color: transparent;

  transition: 300ms ease-in;

  &:hover {
    background-color: $btnHoverColor;

    transform: scale(1.15);
    }

  &:focus {
    background-color: $btnHoverColor;
    color: $whiteTextColor;
    transform: scale(1.15);
    }  
}

.fi-comment {
  height: 84px;
  display: block;


  @media screen and (min-width: 768px) {
    width: 368px;
  }
}

.fi-comment::placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
}

