// Змінні

// white
$whiteTextColor: #fcfcfc;
// black
$blackTextColor: #131313;
// grey
$secondaryTextColor: #ababab;
// orange
$addressTextColor: #d6936d;
// yellow #F8D24E
$accentColor: #f8d24e;
// green
$bgColor: #84a178;
// beige
$formBgColor: rgba(248, 210, 78, 0.1);
// green
$btnHoverColor: #0a8817;
