// Змінні


// white
$whiteTextColor: #FCFCFC;
// black
$blackTextColor: #131313;
// grey
$secondaryTextColor: #ABABAB; 
// orange 
$addressTextColor: #D6936D;
// yellow #F8D24E
$accentColor: #F8D24E;
// green
$bgColor: #84A178;
// beige 
$formBgColor: rgba(248, 210, 78, 0.1);
// green 
$btnHoverColor: #0A8817;