<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./aa.css">
    <title>Document</title>
</head>
<body>
    <form class="hero__buy-modal">
          <ul class="buy__list">
            <li class="buy__item">
              <label>
            <input class="buy__input" type="checkbox" name="ice-cream" value="ice-cream" />
            <span class="buy__span-box buy__span-box--green">
              <span class="buy__span-img-box buy__span-img-box--green">
                <picture>

                  <source type="image/webp"              
                  srcset="
                    ./images/modal-buy-now/img1lg@1x.webp 1x,
                    ./images/modal-buy-now/img1lg@2x.webp 2x
                  "
                />

                  <source type="image/webp" 
                  srcset="
                    ./images/modal-buy-now/img1lg@1x.jpg 1x,
                    ./images/modal-buy-now/img1lg@2x.jpg 2x
                  "
                />
                <img class="buy__img" src="./images/modal-buy-now/img1lg@1x.jpg" alt="test">
                </picture>
              </span>
              <span class="buy__img-span-text">ice cream</span>
            </span>
          </label>
            </li>

            <li class="buy__item">
              <label>
            <input class="buy__input" type="checkbox" name="ice-cream" value="ice-coffee" />
            <span class="buy__span-box buy__span-box--yellow">
              <span class="buy__span-img-box buy__span-img-box--yellow">
               <picture>

                <source type="image/webp" 
                  srcset="
                    ./images/modal-buy-now/img2lg@1x.webp 1x,
                    ./images/modal-buy-now/img2lg@2x.webp 2x
                  "
                />

                  <source type="image/webp" 
                  srcset="
                    ./images/modal-buy-now/img2lg@1x.jpg 1x,
                    ./images/modal-buy-now/img2lg@2x.jpg 2x
                  "
                />
                <img class="buy__img" src="./images/modal-buy-now/img2lg@1x.jpg" alt="test">
                </picture>
              </span>
              <span class="buy__img-span-text">ice coffee</span>
            </span>
          </label>
            </li>

            <li class="buy__item">
              <label>
            <input class="buy__input" type="checkbox" name="ice-cream" value="milkshake"/>
            <span class="buy__span-box buy__span-box--red">
              <span class="buy__span-img-box buy__span-img-box--red">
                
                <picture>

                  <source type="image/webp" 
                  srcset="
                    ./images/modal-buy-now/img3lg@1x.webp 1x,
                    ./images/modal-buy-now/img3lg@2x.webp 2x
                  "
                />

                  <source type="image/webp" 
                  srcset="
                    ./images/modal-buy-now/img3lg@1x.jpg 1x,
                    ./images/modal-buy-now/img3lg@2x.jpg 2x
                  "
                />
                <img class="buy__img" src="./images/modal-buy-now/img3lg@1x.jpg" alt="test">
                </picture>

              </span>
              <span class="buy__img-span-text">milkshake</span>
            </span>
          </label>
            </li>
          </ul>

    <div class="form-group">
      <label class="form-field">
        <input class="form-input" type="text" name="Name" placeholder="Name" pattern="[A-Za-z]{3,32}" required>
      </label>
      <label class="form-field">
        <input class="form-input" type="tel" name="Phone" placeholder="Phone" pattern="[0-9]{12}" required>
      </label>
      <label class="form-field">
        <textarea class="form-message" name="Comment" cols="30" rows="2" placeholder="Comment" ></textarea>
      </label>
      <button class="form-btn btn" type="submit">Submit</button>
    </div>
  </form>
</body>
</html>