<section class="advantages-section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item list icon-cow">
        <h3 class="advantages__titel">721</h3>
        <p class="advantages__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item list icon-waight">
        <h3 class="advantages__titel">16kg</h3>
        <p class="advantages__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item list icon-icecrema">
        <h3 class="advantages__titel">84</h3>
        <p class="advantages__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
