<section class="hero" id="home">
  <div class="container">
    <div class="background-eyes" id="background">
      <div class="eyes" id="eyes">
        <div class="box-f">
          <div class="f-eye">
            <div class="pupil"></div>
          </div>
        </div>
        <div class="box-x">
          <div class="s-eye">
            <div class="pupil"></div>
          </div>
        </div>
        <div class="box-z">
          <div class="a-eye">
            <div class="pupil"></div>
          </div>
        </div>
        <div class="box-r">
          <div class="r-eye">
            <div class="pupil"></div>
          </div>
        </div>
        <div class="box-u">
          <div class="u-eye">
            <div class="pupil"></div>
          </div>
        </div>
        <div class="box-p">
          <div class="p-eye">
            <div class="pupil"></div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="visually-hidden">ice cream made with passion></h1>
    <div class="hero__tittle-block">
      <div class="hero__tittle-right">
        <div class="hero__tittle">
          <div class="tittle__text">
            <span style="--x: 1">i</span>
            <span style="--x: 2">c</span>
            <span style="--x: 3">e</span>
            &nbsp;
            <span style="--x: 4">c</span>
            <span style="--x: 5">r</span>
            <span style="--x: 6">e</span>
            <span style="--x: 7">a</span>
            <span style="--x: 8">m</span>
          </div>
          <div class="tittle__text">
            <span style="--x: 1">m</span>
            <span style="--x: 2">a</span>
            <span style="--x: 3">d</span>
            <span style="--x: 4">e</span>
            &nbsp;
            <span style="--x: 5">w</span>
            <span style="--x: 6">i</span>
            <span style="--x: 7">t</span>
            <span style="--x: 8">h</span>
          </div>
          <div class="tittle__text">
            <span style="--x: 1">p</span>
            <span style="--x: 2">a</span>
            <span style="--x: 3">s</span>
            <span style="--x: 4">s</span>
            <span style="--x: 5">i</span>
            <span style="--x: 6">o</span>
            <span style="--x: 7">n</span>
          </div>
        </div>
        <ul class="hero__list list" aria-label="buttons list">
          <li class="hero__item">

            <a
              href="#products"
              id="products"
              class="hero__link-one link"
              aria-label="our products"
              >Products</a
            >
          </li>
          <li class="hero__item">
            <a href="#about" class="hero__link link" aria-label="about"
              >How it’s made?</a
            >
          </li>
        </ul>
        <div class="hero__plate-block">
          <picture class="hero__plate-set">
            <source media="(min-width: 1200px)" type="image/webp" srcset="
                ./images/alt_hero/platelg@1x.webp 1x,
                ./images/alt_hero/platelg@2x.webp 2x
              " />
            <source media="(min-width: 1200px)" type="image/png" srcset="
                ./images/alt_hero/platelg@1x.png 1x,
                ./images/alt_hero/platelg@2x.png 2x
              " />
            <source media="(min-width: 768px)" type="image/webp" srcset="
                ./images/alt_hero/plate@1x.webp 1x,
                ./images/alt_hero/plate@2x.webp 2x
              " />
            <source media="(min-width: 768px)" type="image/png" srcset="
                ./images/alt_hero/plate@1x.png 1x,
                ./images/alt_hero/plate@2x.png 2x
              " />
            <img class="hero__plate-img" src="./images/alt_hero/plate@2x.png" alt="plate" loading="lazy" />
          </picture>
          <p class="hero__plate-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            <a href="./index.html" aria-label="deco"
              ><svg class="hero__plate-arrow" width="40px" height="16px">
                <use href="./images/hero/hero_icons.svg#arrow_main"></use></svg></a>

          </p>
        </div>
      </div>
      <ul class="hero__count list">
        <li class="hero__count-item">
          <p class="hero__count-number counter" data-target="16">16</p>
          <p class="hero__count-text">cafes</p>
        </li>
        <li class="hero__count-item">
          <p class="hero__count-number counter" data-target="23">23</p>
          <p class="hero__count-text">food &nbsp; trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero__picture">
      <picture class="hero__ice">
        <source media="(min-width: 1200px)" type="image/webp" srcset="
            ./images/alt_hero/icelg@1x.webp 1x,
            ./images/alt_hero/icelg@2x.webp 2x
          " />
        <source media="(min-width: 1200px)" type="image/png" srcset="
            ./images/alt_hero/icelg@1x.png 1x,
            ./images/alt_hero/icelg@2x.png 2x
          " />
        <source media="(min-width: 768px)" type="image/webp" srcset="
            ./images/alt_hero/icemd@1x.webp 1x,
            ./images/alt_hero/icemd@2x.webp 2x
          " />
        <source media="(min-width: 768px)" type="image/png" srcset="
            ./images/alt_hero/icemd@1x.png 1x,
            ./images/alt_hero/icemd@2x.png 2x
          " />
        <source media="(max-width: 767px)" type="image/webp" srcset="
            ./images/alt_hero/icesm@1x.webp 1x,
            ./images/alt_hero/icesm@2x.webp 2x
          " />
        <source media="(max-width: 767px)" type="image/png" srcset="
            ./images/alt_hero/icesm@1x.png 1x,
            ./images/alt_hero/icesm@2x.png 2x
          " />

        <img src="./images/alt_hero/icesm@1x.png" alt="ice cream" loading="lazy" />
      </picture>
    </div>
  </div>
</section>