<section class="contacts" id="contacts">
  <div class="container">
    <!-- visually-hidden title -->
    <h2 class="visually-hidden">contacts</h2>

    <!-- card list -->
    <ul class="contacts__list contacts__list-setting list">
      <!-- card one -->
      <li class="contacts__list-item">
        <h3 class="visually-hidden">Location card one</h3>

        <b class="contacts__category">cafe</b>

        <!-- location -->
        <ul class="contacts__location-list list">
          <li class="contacts__location-item">
            <p class="contacts__location-text">Chicago</p>
          </li>

          <li class="contacts__location-item">
            <a
              class="contacts__location-link contacts__location-link--width"
              href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7033215,-87.7796667,20z/data=!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405?hl=ru"
              rel="noreferrer nofollow noopener"
              target="_blank"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
        </ul>

        <!-- week -->
        <ul class="contacts__week list">
          <li class="contacts__week-item">
            <p class="contacts__week-day">Monday - Friday</p>
            <p class="contacts__week-time">06:00 AM - 10:00 PM</p>
          </li>

          <li class="contacts__week-item">
            <p class="contacts__week-day">Saturday - Sunday</p>
            <p class="contacts__week-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <!-- communicate -->
        <ul class="contacts__communication list">
          <li class="contacts__communication-item">
            <a class="contacts__communication-link" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>

          <li class="contacts__communication-item">
            <a
              class="contacts__communication-link"
              href="mailto:noreply@envato.com"
            >
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>

      <!--card two-->
      <li class="contacts__list-item">
        <h3 class="visually-hidden">Location card two</h3>

        <b class="contacts__category contacts__category--padding-tab">
          foodtruck
        </b>

        <!-- location -->
        <ul class="contacts__location-list list">
          <li class="contacts__location-item">
            <p class="contacts__location-text">Los Angeles</p>
          </li>

          <li class="contacts__location-item">
            <a
              class="contacts__location-link contacts__location-link--second-width"
              href="https://www.google.com.ua/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8833956,-118.4103216,19.75z/data=!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286?hl=ru"
              rel="noreferrer nofollow noopener"
              target="_blank"
            >
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </a>
          </li>
        </ul>

        <!-- week -->
        <ul class="contacts__week list">
          <li class="contacts__week-item">
            <p class="contacts__week-day">Monday - Friday</p>
            <p class="contacts__week-time">06:00 AM - 10:00 PM</p>
          </li>

          <li class="contacts__week-item">
            <p class="contacts__week-day">Saturday - Sunday</p>
            <p class="contacts__week-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <!-- communicate -->
        <ul class="contacts__communication list">
          <li class="contacts__communication-item">
            <a class="contacts__communication-link" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>

          <li class="contacts__communication-item">
            <a
              class="contacts__communication-link"
              href="mailto:noreply@envato.com"
            >
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>

      <!-- card three -->
      <li class="contacts__list-item">
        <h3 class="visually-hidden">Location card three</h3>

        <b class="contacts__category">cafe</b>

        <!-- location -->
        <ul class="contacts__location-list list">
          <li class="contacts__location-item">
            <p class="contacts__location-text">New York</p>
          </li>

          <li class="contacts__location-item">
            <a
              class="contacts__location-link contacts__location-link--width"
              href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6725443,-73.9548265,20z/data=!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734?hl=ru"
              rel="noreferrer nofollow noopener"
              target="_blank"
            >
              726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </li>
        </ul>

        <!-- week -->
        <ul class="contacts__week list">
          <li class="contacts__week-item">
            <p class="contacts__week-day">Monday - Friday</p>
            <p class="contacts__week-time">06:00 AM - 10:00 PM</p>
          </li>

          <li class="contacts__week-item">
            <p class="contacts__week-day">Saturday - Sunday</p>
            <p class="contacts__week-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <!-- communicate -->
        <ul class="contacts__communication list">
          <li class="contacts__communication-item">
            <a class="contacts__communication-link" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>

          <li class="contacts__communication-item">
            <a
              class="contacts__communication-link"
              href="mailto:noreply@envato.com"
            >
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- buttons -->

    <ul class="contacts__list-btn list">
      <li class="contacts__item-btn">
        <button
          class="contacts__btn contacts__btn--location js-open-modal"
          data-modal="5"
        >
          Our Locations
          <svg class="contacts__btn-icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-contacts-btn-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="contacts__item-btn">
        <button
          class="contacts__btn contacts__btn--franchise js-open-modal"
          data-modal="6"
        >
          Franchise
          <svg class="contacts__btn-icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-contacts-btn-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
