<div class="container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="swiper-image" srcset="./images/img-customer_reviews/customer_reviews_img1@1x.jpg 1x,
                ./images/img-customer_reviews/customer_reviews_img1@2x.jpg 2x"
          src="./images/img-customer_reviews/customer_reviews_img1@1x.jpg" alt="Emily" width="85" height="85"  loading="lazy"/>
        <p class="swiper__text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
        <h3 class="swiper__subtitle">Emily, Los Angeles</h3>
      </div>

      <div class="swiper-slide">
        <img class="swiper-image" srcset="./images/img-customer_reviews/customer_reviews_img2@1x.jpg 1x,
                        ./images/img-customer_reviews/customer_reviews_img2@2x.jpg 2x"
          src="./images/img-customer_reviews/customer_reviews_img2@1x.jpg" alt="Emily" width="85" height="85" loading="lazy"/>
        <p class="swiper__text">Every day we come to you with friends after classes in college. We love your ice cream
          and casual atmosphere!
        </p>
        <h3 class="swiper__subtitle">Bryan, New-York</h3>
      </div>

      <div class="swiper-slide">
        <img class="swiper-image" srcset="./images/img-customer_reviews/customer_reviews_img3@1x.jpg 1x,
                            ./images/img-customer_reviews/customer_reviews_img3@2x.jpg 2x"
          src="./images/img-customer_reviews/customer_reviews_img3@1x.jpg" alt="Emily" width="85" height="85" loading="lazy"/>
        <p class="swiper__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
          excellent service - always
          served politely and quickly!</p>
        <h3 class="swiper__subtitle">Diana, Chicago</h3>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>