<footer class="ftr">
  <div class="ftr__div">
    <p class="ftr__slogan">
      homemade ice cream made<span class="ftr__accentslogan">with passion</span>
    </p>
    <div class="ftr__contacts">
        <ul class="ftr__list">
            <li class="ftr__item">
              <a
                class="ftr__link"
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="github"
              >
                <svg class="ftr__icon" width="34" height="34">
                  <use href=".../#github1"></use>
                </svg></a>
            </li>
            <li class="ftr__item">
              <a
                class="ftr__link"
                href="https://telegram.org/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="telegram"
              >
                <svg class="ftr__icon" width="34" height="34">
                  <use href=".../#telegram1"></use>
                </svg></a>
            </li>
            <li class="ftr__item">
              <a
                class="ftr__link"
                href="https://uk-ua.facebook.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="facebook"
              >
                <svg class="ftr__icon" width="34" height="34">
                  <use href=".../#facebook1"></use>
                </svg></a>
            </li>
          </ul>
      <address class="ftr__address">
        <a href="tel:++610383766284" class="ftr__call"
          ><span class="ftr__text">Feel free to contact</span> +61 (0) 383 766 284</a>
      </address>
    </div>
  </div>
  <p class="ftr__copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>
</footer>

<!-- <div class="ftr__border">
    <div class="ftr__container">
        
    </div>
    <div class="ftr__container">
        
        
    </div>
</div>
 -->
