<section class="gallery">
    <div class="gallery__container container">
        <div class="gallery__wrapper">
            <ul class="gallery__list list">
                <li class="mySlides">
                    <img class="gallery__image " srcset="
                    ./images/img-gallery/mobile/gallery-bgimg-mobile-1_280.jpg 280w,
                    ./images/img-gallery/mobile/gallery-bgimg-mobile-1_560.jpg 560w,
                    ./images/img-gallery/tablet/gallery-bgimg-tablet-1_704.jpg 704w,
                    ./images/img-gallery/tablet/gallery-bgimg-tablet-1_1408.jpg 1408w,
                    ./images/img-gallery/desctop/gallery-bgimg-desctop-1_1013.jpg 1013w,
                    ./images/img-gallery/desctop/gallery-bgimg-desctop-1_2026.jpg 2026w
                  " sizes="(min-width: 1200px) 1013px, 
                         (min-width: 768px) 704px, 
                         (min-width: 480px) 280px,
              100vw" src="./images/img-gallery/mobile/gallery-bgimg-mobile-1_280.jpg" alt="морозиво" loading="lazy" />
                </li>

                <li class="mySlides">
                    <img class="gallery__image " srcset="
                                    ./images/img-gallery/mobile/gallery-bgimg-mobile-2_280.jpg 280w,
                                    ./images/img-gallery/mobile/gallery-bgimg-mobile-2_560.jpg 560w,
                                    ./images/img-gallery/tablet/gallery-bgimg-tablet-2_704.jpg 704w,
                                    ./images/img-gallery/tablet/gallery-bgimg-tablet-2_1408.jpg 1408w,
                                    ./images/img-gallery/desctop/gallery-bgimg-desctop-2_1013.jpg 1013w,
                                    ./images/img-gallery/desctop/gallery-bgimg-desctop-2_2026.jpg 2026w
                                  " sizes="(min-width: 1200px) 1013px, 
                                         (min-width: 768px) 704px, 
                                         (min-width: 480px) 280px,
                              100vw" src="./images/img-gallery/mobile/gallery-bgimg-mobile-2_280.jpg" alt="морозиво"
                        loading="lazy" />
                </li>
                <li class="mySlides">
                    <img class="gallery__image " srcset="
                                                    ./images/img-gallery/mobile/gallery-bgimg-mobile-3_280.jpg 280w,
                                                    ./images/img-gallery/mobile/gallery-bgimg-mobile-3_560.jpg 560w,
                                                    ./images/img-gallery/tablet/gallery-bgimg-tablet-3_704.jpg 704w,
                                                    ./images/img-gallery/tablet/gallery-bgimg-tablet-3_1408.jpg 1408w,
                                                    ./images/img-gallery/desctop/gallery-bgimg-desctop-3_1013.jpg 1013w,
                                                    ./images/img-gallery/desctop/gallery-bgimg-desctop-3_2026.jpg 2026w
                                                  " sizes="(min-width: 1200px) 1013px, 
                                                         (min-width: 768px) 704px, 
                                                         (min-width: 480px) 280px,
                                              100vw" src="./images/img-gallery/mobile/gallery-bgimg-mobile-3_280.jpg"
                        alt="морозиво" loading="lazy" />
                </li>
            </ul>
        </div>

    </div>
</section>