<!-- HEADER -->

<header class="header" id="header">
  <div class="container">
    <nav class="header__nav">
      <!-- ----------------------------------------------------------->
      <!-- HEADER LOGO -->
      <!-- ----------------------------------------------------------->

      <a href="./index.html" class="header__logo-link">
        <picture>
          <source media="(min-width: 1200px)" type="image/png"
            srcset="./images/logo/logo-lg@1x.png 1x, ./images/logo/logo-lg@2x.png 2x" />
          <source media="(min-width: 768px)" type="image/png"
            srcset="./images/logo/logo-md@1x.png 1x, ./images/logo/logo-md@2x.png 2x" />
          <source media="(max-width: 767px)" type="image/png"
            srcset="./images/logo/logo-sm@1x.png 1x, ./images/logo/logo-sm@2x.png 2x" />
          <img src="./images/logo/logo-sm@1x.png" alt="Ice Cream Logo" />
        </picture>
      </a>

      <!-- ----------------------------------------------------------->
      <!-- HEADER NAVIGATION-->
      <!-- ----------------------------------------------------------->
      <ul class="header__nav_list">
        <li class="header__list-item">
          <a class="header__list-link" href="#header">Home</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#about">How it’s made?</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#products">Our products</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#contacts">Contact</a>
        </li>
      </ul>

      <!-- ----------------------------------------------------------->
      <!-- BURGER-MENU-->
      <!-- ----------------------------------------------------------->
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu__toggle--open" width="40" height="40">
          <use href="./images/hero/hero_icons.svg#icon-burger_menu-open"></use>
        </svg>
      </button>

      <!-- «BUY NOW» button -->
      <button
        class="header__buy-now-btn js-open-modal"
        type="button"
        data-modal="1"
      >
        Buy now
        <svg width="12" height="12">
          <use href="./images/hero/hero_icons.svg#arrow_right"></use>
        </svg>
      </button>
    </nav>
  </div>

  <!-- <div class="snow"></div> -->
</header>
