<!-- HEADER -->

<header class="header" id="header">
  <div class="container">
    <nav class="header__nav">
      <!-- ----------------------------------------------------------->
      <!-- HEADER LOGO -->
      <!-- ----------------------------------------------------------->

      <a href="./index.html" class="header__logo-link">
          <img src="./images/hero/logo-header.png" alt="Ice Cream Logo" />
      </a>

      <!-- ----------------------------------------------------------->
      <!-- HEADER NAVIGATION-->
      <!-- ----------------------------------------------------------->
      <ul class="header__nav_list">
        <li class="header__list-item">
          <a class="header__list-link" href="#header">Home</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#about">How it’s made?</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#products">Our products</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#contacts">Contact</a>
        </li>
      </ul>

      <!-- ----------------------------------------------------------->
      <!-- BURGER-MENU-->
      <!-- ----------------------------------------------------------->
      <button class="header__burger-btn" data-menu-open>
        <svg width="32" height="32">
          <use href="./images/hero/hero_icons.svg#burger"></use>
        </svg>
      </button>

      <!-- «BUY NOW» button -->
      <button class="header__buy-now-btn js-open-modal" type="button"  data-modal="1">
        Buy now
        <svg width="12" height="12">
          <use href="./images/hero/hero_icons.svg#arrow_right"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
