<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu__toggle--close" width="32" height="32">
      <use href="./images/hero/hero_icons.svg#icon-burger_menu-close"></use>
    </svg>
  </button>
  <div class="mobile__wrapper">
    <nav class="mobile__nav">
      <a href="./index.html" class="mobile__logo-link">
        <img src="./images/hero/logo_s@1x.png" alt="Ice Cream Logo" />
      </a>
      <ul class="mobile-menu">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#header">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#about">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="mobile__buy-now-btn js-open-modal" type="button" data-modal="1">
      Buy now
      <svg class="button__arrow" width="12" height="12">
        <use href="./images/hero/hero_icons.svg#arrow_right"></use>
      </svg>
    </button>
  </div>



</div>