<section class="products">
  <div class="products__container container">
    <p class="products__text">100% natural</p>
    <h2 class="products__title">products</h2>
    <div class="products__options">
      <ul class="products__site list">
        <li class="products__item products__item--green">
          <!-- <picture>
                        <source media="(min-width: 1200px)" srcset="./images/products.image/ice_lg@1x.jpg, ./images/products.image/ice_lg@2x.jpg" type="image/jpg">
                        <source media="(min-width: 480px)" srcset="./images/products.image/ice_sm@1x.jpg, ./images/products.image/ice_sm@2x.jpg" type="image/jpg">
                        <img class="products__image" 
                        src="./images/products.image/ice_sm@1x.jpg" 
                        alt="ice cream in a waffle cup"
                        loading="lazy">
                    </picture> -->
          <div class="products__card">
            <div class="products__img-box">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/products-image/img1sm@1x.webp 1x,
                    ./images/products-image/img1sm@2x.webp 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/products-image/img1sm@1x.jpg 1x,
                    ./images/products-image/img1sm@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 768px) and (max-width: 1199px)"
                  srcset="
                    ./images/products-image/img1md@1x.webp 1x,
                    ./images/products-image/img1md@2x.webp 2x
                  "
                />

                <source
                  media="(min-width: 768px) and (max-width: 1199px)"
                  srcset="
                    ./images/products-image/img1md@1x.jpg 1x,
                    ./images/products-image/img1md@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/products-image/img1lg@1x.webp 1x,
                    ./images/products-image/img1lg@2x.webp 2x
                  "
                />

                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/products-image/img1lg@1x.jpg 1x,
                    ./images/products-image/img1lg@2x.jpg 2x
                  "
                />

                <img
                  class="products__img"
                  src="./images/products-image/img1md@1x.jpg"
                  alt="picture"
                />
              </picture>
            </div>
            <h3 class="products__name">ice cream</h3>
            <p class="products__description products__description-green">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
            <button class="products__open" type="button">
              <svg class="products__open-green" width="41" height="16">
                <use href="./images/sprite.svg#icon-Arrow_tool"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="products__item products__item--yellow">
          <!-- <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/products.image/coffee_lg@1x.jpg,
                ./images/products.image/coffee_lg@2x.jpg
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 480px)"
              srcset="
                ./images/products.image/coffee_sm@1x.jpg,
                ./images/products.image/coffee_sm@2x.jpg
              "
              type="image/jpg"
            />
            <img
              class="products__image"
              src="./images/products.image/coffee_sm@1x.jpg"
              alt="cold coffee in a transparent cup"
              loading="lazy"
            />
          </picture> -->
          <div class="products__card">
            <div class="products__img-box products__img-box--second">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/products-image/img2sm@1x.webp 1x,
                    ./images/products-image/img2sm@2x.webp 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/products-image/img2sm@1x.jpg 1x,
                    ./images/products-image/img2sm@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 768px) and (max-width: 1199px)"
                  srcset="
                    ./images/products-image/img2md@1x.webp 1x,
                    ./images/products-image/img2md@2x.webp 2x
                  "
                />

                <source
                  media="(min-width: 768px) and (max-width: 1199px)"
                  srcset="
                    ./images/products-image/img2md@1x.jpg 1x,
                    ./images/products-image/img2md@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/products-image/img2lg@1x.webp 1x,
                    ./images/products-image/img2lg@2x.webp 2x
                  "
                />

                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/products-image/img2lg@1x.jpg 1x,
                    ./images/products-image/img2lg@2x.jpg 2x
                  "
                />

                <img
                  class="products__img"
                  src="./images/products-image/img2md@1x.jpg"
                  alt="picture"
                />
              </picture>
            </div>
            <h3 class="products__name">ice coffee</h3>
            <p class="products__description products__description-yellow">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>

            <button class="products__open" type="button">
              <svg class="products__open-yellow" width="41" height="16">
                <use href="./images/sprite.svg#icon-Arrow_tool"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="products__item products__item--red">
          <!-- <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/products.image/milk_lg@1x.jpg,
                ./images/products.image/milk_lg@2x.jpg
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 480px)"
              srcset="
                ./images/products.image/milk_sm@1x.jpg,
                ./images/products.image/milk_sm@2x.jpg
              "
              type="image/jpg"
            />
            <img
              class="products__image"
              src="./images/products.image/milk_sm@1x.jpg"
              alt="milkshake with cream and oreos"
              loading="lazy"
            />
          </picture> -->
          <div class="products__card">
            <div class="products__img-box products__img-box--third">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/products-image/img3sm@1x.webp 1x,
                    ./images/products-image/img3sm@2x.webp 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/products-image/img3sm@1x.jpg 1x,
                    ./images/products-image/img3sm@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 768px) and (max-width: 1199px)"
                  srcset="
                    ./images/products-image/img3md@1x.webp 1x,
                    ./images/products-image/img3md@2x.webp 2x
                  "
                />

                <source
                  media="(min-width: 768px) and (max-width: 1199px)"
                  srcset="
                    ./images/products-image/img3md@1x.jpg 1x,
                    ./images/products-image/img3md@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/products-image/img3lg@1x.webp 1x,
                    ./images/products-image/img3lg@2x.webp 2x
                  "
                />

                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/products-image/img3lg@1x.jpg 1x,
                    ./images/products-image/img3lg@2x.jpg 2x
                  "
                />

                <img
                  class="products__img"
                  src="./images/products-image/img3md@1x.jpg"
                  alt="picture"
                />
              </picture>
            </div>
            <h3 class="products__name">milkshakes</h3>
            <p class="products__description products__description-red">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
            <button class="products__open" type="button">
              <svg class="products__open-red" width="41" height="16">
                <use href="./images/sprite.svg#icon-Arrow_tool"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
